.download_area {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 30rem 1fr;
  a {
    bottom: 0;
    margin-left: 2rem;
    margin-top: auto;
  }
}

.source-link {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
}

#plot_settings {
  label {
    margin-right: 2rem;
  }
}
